*{
	font-family: Segoe UI;
	text-align: center;
}

body{
	padding: 16px 16px 8px 16px;
}

#clock{
	width: 100%;
	font-size: 52px;
	font-weight: 400;
	color: #737373;
	margin-bottom: 4px;
}

#caption{
	font-size: 13px;
	color: #737373;
	margin-bottom: 20px;
}

#pomodoros{
	height: 16px;
	padding: 10px 0;
	float: left;
	font-size: 11px;
	color: #737373;
}

#footer{
	width: 100%;
	height: 32px;
	margin-top: 20px;
}

#settings{
	float: right;
}

/* Button Style */
.button{
	width: auto;
	height: 24px;
	padding-top: 8px;
	margin-bottom: 8px;
	border-radius: 2px;
	font-size: 13px;
	cursor: pointer;
}

.primary{
	color: #ffffff;
	background-color: #0060df;
}

.primary:hover{
	background-color: #003eaa;
}

.primary:active{
	background-color: #002275;
}

.primary[disabled]{
	background-color: #0060df;
	opacity: 0.4;
	cursor: default;
}

.default{
	color: #0c0c0d;
	background-color: rgba(12, 12, 13, 0.1);
}

.default:hover{
	background-color: rgba(12, 12, 13, 0.2);
}

.default:active{
	background-color: rgba(12, 12, 13, 0.3);
}

.default[disabled]{
	background-color: rgba(12, 12, 13, 0.1);
	opacity: 0.4;
	cursor: default;
}

.ghost{
	width: 16px;
	height: 16px;
	padding: 8px;
	border-radius: 2px;
	cursor: pointer;
}

.ghost:hover{
	background-color: rgba(12, 12, 13, 0.1);
}

.ghost:active{
	background-color: rgba(12, 12, 13, 0.2);
}

.ghost img{
	width: 16px;
}