:root {
	--progress-stroke: 0;
	--progress-opacity: 1;
	--progress-color: #000;

	--font-color: #a8aab1;
	--background-color: #242526;
	--hover-color: #3a3b3c;
	--primary-hover-color: rgba(0, 0, 0, 0.8);
}  

* {
	font-family: "Arial";
	text-align: center;
}

body {
	padding: 8px 20px;
	color: var(--font-color);
	background-color: var(--background-color);
}

#caption {
	font-size: 22px;
	margin-bottom: 6px;
}

#pomodoros {
	padding: 10px 0;
	font-size: 12px;
	margin-bottom: 10px;
}

#action {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 8px;
}

/* Buttons */
.button {
	width: 51px;
	height: 39px;
	padding: 16px 0 0 4px;
	margin: 0 16px;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
}

.button #pause {
	width: 55px;
	padding-left: 0;
}

.button svg path {
	fill: var(--background-color);
}

.primary {
	color: #ffffff;
	background-color: var(--progress-color);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.primary:hover {
	box-shadow: 0 3px 6px var(--primary-hover-color), 0 3px 6px var(--primary-hover-color);
}

.primary svg {
	width: 22px;
	fill: white;
}

.ghost {
	width: 28px;
	padding: 6px 4px 4px 4px;
	border-radius: 50%;
	cursor: pointer;
}

.ghost:hover {
	background-color: var(--hover-color);
}

.ghost:active {
	background-color: rgba(12, 12, 13, 0.2);
}

.ghost svg {
	width: 22px;
	fill: var(--font-color);
}

/* Progress Bar */
.progress-bar {
	position: relative;
	width: 180px;
	height: 180px;
	transform: rotate(-90deg);
}

.progress-bar .svg {
	width: 100%;
	height: 100%;
}

.progress-bar .circle {
	fill: none;
	stroke: var(--progress-color);
	stroke-width: 8;
	stroke-dasharray: 470;
	stroke-dashoffset: var(--progress-stroke);
	stroke-opacity: var(--progress-opacity);
	stroke-linecap: square;
	transform: translate(4px, 4px);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.progress-bar .text {
	position: absolute;
	top: 50%;
	left: 50%;
	color: var(--font-color);
	font-size: 38px;
	transform: translate(-50%, -50%) rotate(90deg);
}