*{
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", "Ubuntu", "San Francisco", "Arial";
	font-weight: 400;
	text-align: center;
}

body{
	background-color: #f9f9fa;
}

h1{	
	margin-bottom: 32px;
	font-size: 28px;
	color: #737373;
}

h2{	
	margin-bottom: 8px;
	font-size: 14px;
	color: #737373;
}

#box{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#content{
	width: calc(100% - 64px);
	padding: 32px;
	border-radius: 4px;
	box-shadow: 0 1px 16px rgba(12, 12, 13, 0.1);
	background-color: #ffffff;
}

#pomodorosMessage{
	padding-top: 8px;
}

#settingsIcon{
	width: 20px;
}

#feedbackMessage{
	margin-top: 16px;
}

#study, #shortBreak, #longBreak{
	margin-bottom: 24px;
	font-size: 18px;
	color: #38383d;
}

.buttonIcon{
	width: 10px;
}

.caption{
	font-size: 13px;
	color: #737373;
	clear: both;
}

/* Text Input Style */
input[type=text]{
	padding: 8px 0;
	font-size: 18px;
	border: 1px  solid rgba(12, 12, 13, 0.2);
	border-radius: 2px;
	color: #38383d;
}

#numberPomodoros{
	margin-left: 8px;
	padding: 4px 0;
}

/* Link Style */
a{
	padding: 8px 12px;
	text-decoration: none;
	border-radius: 2px;
	color: rgba(12, 12, 13, 0.8);
	outline: 0;
}

a:hover{
	background-color: rgba(12, 12, 13, 0.1);
}

a:active{
	background-color: rgba(12, 12, 13, 0.2);
}

/* Button Style */
.button{
	width: 30%;
	margin-top: 32px;
	padding: 8px;
	border: 0;
	border-radius: 2px;
	font-size: 13px;
	cursor: pointer;
}

.button::-moz-focus-inner {
	border: 0;
}

.primary{
	color: #ffffff;
	background-color: #0060df;
}

.primary:hover{
	background-color: #003eaa;
}

.primary:active{
	background-color: #002275;
}

.default{
	color: #0c0c0d;
	background-color: rgba(12, 12, 13, 0.1);
}

.default:hover{
	background-color: rgba(12, 12, 13, 0.2);
}

.default:active{
	background-color: rgba(12, 12, 13, 0.3);
}

/* Responsive adaptation for different screen sizes */
@media(max-width: 1280px){
	
	#box{
		width: 50%;
		height: 85%;
		top: 7.5%;
		left: 25%;
	}

}

@media(min-width: 1281px) and (max-width: 1600px){
	
	#box{
		width: 40%;
		height: 80%;
		top: 10%;
		left: 30%;
	}

}

@media(min-width: 1601px) and (max-width: 1799px){
	
	#box{
		width: 35%;
		height: 70%;
		top: 15%;
		left: 32.5%;
	}

}

@media(min-width: 1800px){
	
	#box{
		width: 30%;
		height: 55%;
		top: 22.5%;
		left: 35%;
	}
	
}