*{
	margin: 0;
	padding: 0;
	font-family: Segoe UI;
	font-weight: 400;
	text-align: center;
}

body{
	background-color: #f9f9fa;
}

h1{	
	margin-bottom: 48px;
	font-size: 28px;
	font-weight: 300;
	color: #737373;
}

h2{	
	margin-bottom: 8px;
	font-size: 14px;
	color: #737373;
}

.clock-line{
	float: left;
	font-size: 18px;
	color: #38383d;
}

.caption{
	font-size: 13px;
	color: #737373;
	clear: both;
}

#settings-icon{
	width: 20px;
}

#box{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	box-shadow: 0 1px 16px rgba(12, 12, 13, 0.1);
	background-color: #ffffff;
}

#github-icon{
	width: 12px;
}

/* Responsive adaptation for different screen sizes */
@media(max-width: 1280px){
	
	#box{
		width: 50%;
		height: 85%;
		top: 7.5%;
		left: 25%;
	}
	
	#feedback-message{
		margin-top: 45%;
	}
	
}

@media(min-width: 1281px) and (max-width: 1600px){
	
	#box{
		width: 40%;
		height: 80%;
		top: 10%;
		left: 30%;
	}
	
	#feedback-message{
		margin-top: 45%;
	}
	
}

@media(min-width: 1601px) and (max-width: 1799px){
	
	#box{
		width: 35%;
		height: 70%;
		top: 15%;
		left: 32.5%;
	}
	
	#feedback-message{
		margin-top: 43%;
	}
	
}

@media(min-width: 1800px){
	
	#box{
		width: 30%;
		height: 55%;
		top: 22.5%;
		left: 35%;
	}
	
	#feedback-message{
		margin-top: 40%;
	}
	
}

/* Text Input Style */
input[type=text]{
	padding: 8px 0;
	font-size: 18px;
	border: 1px  solid rgba(12, 12, 13, 0.2);
	border-radius: 2px;
	color: #38383d;
}

#numberPomodoros{
	margin-left: 8px;
	padding: 4px 0;
}

/* Button Style */
input[type=submit]{
	width: 30%;
	margin-top: 48px;
	padding: 8px;
	font-size: 14px;
	border: 0;
	border-radius: 2px;
	color: #ffffff;
	background-color: #0060df;
	cursor: pointer;
}

input[type=submit]:hover{
	background-color: #003eaa;
}

input[type=submit]:active{
	background-color: #002275;
}

#reset{
	background-color: rgba(12, 12, 13, 0.1);
	color: #0c0c0d;
}

#reset:hover{
	background-color: rgba(12, 12, 13, 0.2);
}

#reset:active{
	background-color: rgba(12, 12, 13, 0.3);
}

/* GitHub link style */
a{
	padding: 8px 12px;
	text-decoration: none;
	border-radius: 2px;
	color: rgba(12, 12, 13, 0.8);
}

a:hover{
	background-color: rgba(12, 12, 13, 0.1);
}

a:active{
	background-color: rgba(12, 12, 13, 0.2);
}